* {
  margin: 0;
  padding: 0;
}
#title {
  text-align: center;
  padding: 20px;
}
main {
  display: flex;
  justify-content: center;
  gap: 50px;
}
button {
  padding: 10px;
}
h2 {
  text-align: center;
  padding: 10px;
  margin: auto;
}
.board {
  border: 2px solid black;
  height: 50vh;
  width: 50vh;
  margin: auto;
  display: grid;
  /* the 1fr below its just so the square can extend the bit that's left, to fit perfectly */
  grid-template-columns: repeat(auto-fit, minmax(calc(50vh / 10), 1fr));
}
.water-square,
.pc-water-square,
.ship-square,
.missed-square,
.hit-square {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
}
.water-square,
.pc-water-square {
  background-color: rgb(36, 98, 117);
}
.hit-square {
  background-color: rgb(149, 0, 0);
}
.missed-square {
  background-color: rgb(15, 40, 48);
}
.garage {
  margin: auto;
  margin-top: 20px;
  padding: 5px 20px;
  width: max-content;
  background-color: rgb(198, 198, 198);
  border: 2px solid black;
}
#buttons {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.ship-frame {
  width: max-content;
}
.drag-over {
  border: dashed 1px red;
}
.ship-piece {
  display: inline-block;
  height: calc(50vh / 10);
  width: calc(50vh / 10);
  border: 1px solid black;
  background-color: rgb(75, 75, 75);
}
@media only screen and (max-width: 800px) {
  main {
    flex-direction: column;
    gap: 10px;
  }
  .board {
    height: 70vw;
    width: 70vw;
    grid-template-columns: repeat(auto-fit, minmax(calc(70vw / 10), 1fr));
  }
}
